<!DOCTYPE html>
<html xmlns:th="http://www.thymeaf.org" lang="en">
<head>
    <title>Sign-up Page</title>
</head>
<body>
<form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}">
    <label>First Name</label>
    <input type="text" id="firstname" name="firstname" th:field="*{firstname}">
    <label>Last Name</label>
    <input type="text" id="lastname" name="lastname" th:field="*{lastname}">
    <label>Email</label>
    <input type="text" id="email" name="email" th:field="*{email}">
    <label>Password</label>
    <input type="password" id="password" name="password" th:field="*{password}">
    <input type="submit">
</form>

</body>
</html>